<h1>Technology in this Project</h1>
<p>
  <div class="col-md-4">
    <ul class="list-group">
      <li class= "list-group-item">Front-End Framework: Bootstrap</li>
      <li class= "list-group-item">Back-End Framework: Ruby on Rails</li>
      <li class= "list-group-item">CSS Preprocessor: SASS</li>
    </ul>
  </div>
</p>
