<!-- Modal -->
<div class="modal fade" id="frameworksModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Frameworks in this Project</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class= "list-group-item">Front-End Framework: Bootstrap</li>
          <li class= "list-group-item">Back-End Framework: Ruby on Rails</li>
          <li class= "list-group-item">CSS Preprocessor: SASS</li>
          <li class= "list-group-item">Hosted on: Heroku</li>
          <li class= "list-group-item">
            <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target=".gems">Gems</button>
          </li>

        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade gems" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Gems used</h4>
      </div>
      <ul class="list-group">
        <li class= "list-group-item"> Devise - "insert github link"</li>
        <li class= "list-group-item">Bootstrap SASS - "insert github link"</li>
      </ul>
    </div>
  </div>
</div>
