<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title" id="myModalLabel">Front-End Framework</h4>
      </div>
      <div class="modal-body">
        <li class= "list-group-item">Bootstrap</li>
      </div>
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Back-End Framework</h4>
      </div>
      <div class="modal-body">
        <li class= "list-group-item">Ruby on Rails</li>
      </div>
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">CSS Preprocessor</h4>
      </div>
      <div class="modal-body">
        <li class= "list-group-item">SASS</li>
      </div>
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Gems</h4>
      </div>
      <div class="modal-body">
        <li class= "list-group-item">Devise</li>
        <li class= "list-group-item">Bootstrap SASS</li>
        <li class= "list-group-item">Paperclip - "insert github link"</li>
        <li class= "list-group-item">Amazon Web Services SDK - "insert github link"</li>
        <li class= "list-group-item">jQuery Masonry</li>
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-left">
          <button type="button" class="btn btn-default"><%= link_to fa_icon("github 2x"), "https://github.com/tomengland", :target => "_blank" %></button>
          <button type="button" class="btn btn-default"><%= link_to fa_icon("linkedin 2x"), "http://www.linkedin.com/in/tomengland808", :target => "_blank" %></button>
          <button type="button" class="btn btn-default"><%= link_to fa_icon("twitter 2x"), "https://twitter.com/devtomengland", :target => "_blank" %></button>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= fa_icon "close 2x"%></button>
      </div>
    </div>
  </div>
</div>
